

.dropdown-outline{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 5rem;
  padding: 20px
}

.drop {
    box-sizing: border-box;
}

.input-container {
    display:inline-block;
    background-color: rgb(67, 71, 90);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding : 0px 10px;
    text-align: left;
}

.input-element {
    display: inline-block;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
    
}

.table-container {
    display: grid;
    flex-direction: column;
    overflow:clip;
    overflow-y: auto;
    max-height: 400px;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid lightgrey;
}

th {
    color:black;
    background-color: darkgrey;
    border: 1px solid lightgrey;
    font-weight:bold;
}

td {
    color: lightblue;
    background-color: transparent;
    border: 1px solid lightgrey;
}

tr:hover, tr:hover td{
    cursor: pointer;
    color: black;
    background-color: lightgrey;
    transform: scale(1.05);
    transition: transform 0.2s ease-out;
    border: 1px solid black;
}

p {
    text-align: center;
}

button {
    float: center;
    padding: 10px;
    margin:10px 0px 0px 0px;
}

.button-events:hover {
    cursor: pointer;
    background-color: rgb(89, 88, 88);
    transition: transform 0.2s ease-out;
    transform: scale(1.1) ;
}

