.dropdown{
    background-color: transparent;
    color: black;
    width: 200px;
    margin: 0;
}

.button {
    width:100%;
    text-overflow: ellipsis;
    background-color: darkgrey;
    color: black;
    text-align: center;
    border-radius: 3px;
    padding: 0px;
}

.button:hover, li:hover{
    background-color: rgb(102, 101, 101);
    color: black;
}

.dropdown-container{
    display: inline-block;
    width: 100%;
    border-color: teal;
    text-overflow: ellipsis;
    padding:0;
}


.large {
    overflow-y: auto;
    scroll-behavior: smooth;
    height:75px;
}

.item {
    background-color: lightgrey;
    color: black;
    text-align: center;
    width:100%;
    border: 1px solid black;
    margin:0;
}
