.footer {
    background-color: rgb(59, 58, 58);
    padding: 10px 25px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

p {
    font-size: small;
    text-align: center
}
