.navbar { 
    background-color: #333;
    color:lightgray;
}

.navbar-container {
    background-color: #333;
    display: inline;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
}

.nav-links {
    border-bottom: lightgrey;
}

.nav-links a {
    color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 20px 0px;
}

.navbar ul li:hover, .navbar ul li:hover .link{
    background-color: grey;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

link:visited{
    background-color: black;
    color: darkgrey;
}
